---
layout: layouts/base.njk
---

<p>Hello. This my little home (rented from GitHub) on the Internet. Welcome!

I live and work in Seattle with my cat Ruby.

If you have comments about something you read here, please email me.</p>

{{ content | safe }}